<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <style> *{
        margin: 0;
        padding: 0;
        
               }
               .nav{
        width: 100%;
        height: 9vh;
        display: flex;
        flex-direction: row;
        position: sticky;
        justify-content: space-between;
        top: 0;
        color: yellow;
        background-color: black;
        align-items: center;
               }
        
               .nav h2{
                   margin-left: 1rem;
               }
        
               h2 i{
                   margin: 5px;
               }
        
               .mn{
                   display: flex;
                   align-items: center;
                  margin-right: 40rem;
               }
        
               .mn a{
                   text-decoration: none;
                   margin-right: 2rem;
                   color: yellow;
               }
        
               .mn a:hover{
                   text-decoration: underline yellow;
               }
        
               .new{
                   background-color: black;
                   color: yellow;
                   border: none;
               } 
        
               footer{
                   width: 100%;
                   height: 18vh;
                   color: yellow;
                   background-color: black;
                   
               }
        
               footer a{
                   text-decoration: none;
                   color: yellow;
               }
        
               footer .pri{
                   margin-top: 20px;
                   display: flex;
                   align-items: center;
                   justify-content: center;
        font-size: 20px;
               }
               footer .links{
                   display: flex;
        
                   justify-content: center;
        
               }
        
               footer .links i{
                   margin-top: 20px;
                   margin-left: 20px;
                   font-size: large
               }
               footer .terms{
                   display: flex;
                   margin-top: 20px;
                   justify-content: center;
        font-size: 15px;
               }
        
               .terms a{
                   margin-left: 20px;
               }
               
               .content{
    width: 100%;
    height: 73vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .links i:hover{
            opacity: 0.3;
        }

        footer a:hover{
            opacity: 0.7;
            text-decoration: underline yellow;
        }

        footer .pri:hover{
            opacity: 0.7;
            text-decoration: underline yellow;
        }

        .anc{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

        .h1{
            color: yellow;
            font-size: 45px;
            align-items: center;
            margin-top: -40px;
            margin-bottom: 90px;
        }

        h1:hover{
            text-decoration: underline yellow;
        }

        .btn{
            border: none;
            width: 12vw;
            height: 6vh;
            margin: 20px;
            border-radius: 20px;
            background-color: yellow;
        }

        .btn:hover{
            background-color: white;
            transition: .3s;
        }

</style>
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <h2><i class="fa-solid fa-compass"></i> WanderLust </h2></div>

        <div class="content">
            <h1 class="h1">Welcome to WanderLust</h1>
           <div class="anc">
            <a href="/signup"><button class="btn">Signup</button></a>
            <a href="/login"><button class="btn">Login</button></a>
           </div>
        </div>

        <footer>
            <div class="links">
                <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="pri">
                <p>WanderLust Private Limited</p>
            </div>
        <div class="terms">
        <a href="">Privacy</a>
        <a href="">Terms</a>
        </div>
        </footer> 
</body>
</html>